.patient-card {
    display: block;
    box-shadow: 0 0 0.5rem #999999;
    border-radius: 0.2rem;
    margin: 0.8rem 0;
    padding: 0.4rem;
    cursor: pointer;

    .pat-name {
        font-size: 1.2rem;
        font-weight: bold;
    }

    .pat-address {
        font-size: 1rem;
    }
}