<form (submit)="savePatient()">
    <dx-form [formData]="patientData">
        <dxi-item 
            dataField="firstName" 
            [isRequired]="true">
            <dxi-validation-rule 
                type="stringLength" 
                [min]="3" 
                [max]="20">
            </dxi-validation-rule>
        </dxi-item>
        <dxi-item 
            dataField="lastName" 
            [isRequired]="true">
            <dxi-validation-rule 
                type="stringLength" 
                [min]="3" 
                [max]="20">
            </dxi-validation-rule>
        </dxi-item>
        <dxi-item 
            dataField="age" 
            [isRequired]="true">
            <dxi-validation-rule 
                type="numeric" 
                [min]="0" 
                [max]="100">
            </dxi-validation-rule>
        </dxi-item>
        <dxi-item 
            dataField="gender" 
            [isRequired]="true"
            editorType="dxSelectBox"
            [editorOptions]="genderOptions">
        </dxi-item>
        <dxi-item 
            dataField="phone"
            [editorOptions]="phoneOptions">
        </dxi-item>
        <dxi-item 
            dataField="address" 
            editorType="dxTextArea">
        </dxi-item>
        <dxi-item 
            dataField="occupation">
        </dxi-item>
        <dxi-item 
            dataField="maritalStatus" 
            [isRequired]="true"
            editorType="dxSelectBox"
            [editorOptions]="msOptions">
        </dxi-item>
        <dxi-item 
            dataField="reference">
        </dxi-item>
        <dxi-item 
            dataField="datetm" 
            [visible]="false">
        </dxi-item>
        <dxi-item 
            itemType="button" 
            [buttonOptions]="submitButtonOptions">
        </dxi-item>
    </dx-form>
</form>